# PRINT_START Macro
#
# Make sure to replace Printer Settings > Custom G-code > Start G-cocde with the following (for PrusaSlicer/SuperSlicer):
#
# M104 S0 ; Stops PS/SS from sending temp waits separately
#M140 S0
# PRINT_START BED=[first_layer_bed_temperature] EXTRUDER={first_layer_temperature[initial_extruder]+extruder_temperature_offset[initial_extruder]} CHAMBER=[chamber_temperature]

[gcode_macro PRINT_START]
gcode:
    {% set BED = params.BED|default(65)|float %}
    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(210)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(0)|float %}
    {% set MATERIAL = params.MATERIAL|default("PLA")|string %}

    {% if (EXTRUDER_TEMP > 0) %}
	    {% set EXTRUDER = EXTRUDER_TEMP %}
    {% endif %}

    {% if (BED_TEMP > 0) %}
	    {% set BED = BED_TEMP %}
    {% endif %}

    M117 Start up...
    #WAKEUP
    SET_CASELIGHT_ON
    STATUS_BUSY

    M118 Configuring for {MATERIAL}
    {% if (MATERIAL == "PLA") %}
        SET_FAN_SPEED FAN=exhaust_fan SPEED=1
    {% else %}
    {% endif %}
    

    STATUS_HEATING
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED}    ; set bed temp
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150        ; set nozzle temp for probing -- needs to be hot enough to squish any filament on the nozzle
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=150             
    M117 Homing...
    STATUS_HOMING
    #M300
    G21          ; set to mm
    M220 S100	 ; set print speed to 100%
    M221 S100	 ; set flow rate to 100%
    M107         ; disable fans
    G90          ; absolute positioning
    HOME_IF_NEEDED

    STATUS_HEATING
    M117 Heating Bed to {BED}C...
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED}    ; wait for bed temp         

    STATUS_HOMING
    M117 QGL
    G32                                                 ; home

    M117 Building mesh
    STATUS_MESHING
    BED_MESH_CALIBRATE

    STATUS_HEATING
    M117 Heating Extruder to {EXTRUDER}C...
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER} ; wait for extruder temp

    CLEAN_NOZZLE
    G28 Z
    SFS_ENABLE
    STATUS_PRINTING
    M117 Prming nozzle...
    
    M83                                                 ; extruder to relative mode
    G92 E0                                              ; Reset extruder

    LINE_PURGE

    ; Move to start of line.
    #G1 Z10 F900
    #G1 Y3 X3 F18000
    #G1 Z0.4 F900
    ; Print the line.
    #G91                ; Relative coordinates.
    #G1 X100 E25 F1000  ; Extrude filament 25mm (how much it retracted in PRINT_END).
    #G1 Y-2 F1000
    #G1 X-60 E9 F1000    ; Print second part of the line.
    #G1 E-0.5 F3000      ; Retract to avoid stringing.
    #G1 X0.5 E0 F1000    ; Wipe back to break string.
    #G1 X-5.5 E0 F1000   ; Wipe forward to break string.
    G92 E0
    M400		                                ; clear buffer
    UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=10
    M117 Printing

